*.pyc
/build/*
/archive/*
/dist/*
/doc/html/*
/support/*
/tests/~/*
/tests/output/*
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Untitled.ipynb
/doc/html.tar.bz2
/doc/html.zip
/pylintrc
/qalsadi.egg-info/*
/tests/cache/*
/tests/samples/stopwords2.txt
/mypythonenv/*
docs/_build
/tests/samples/Nemlar/
/.idea/
