*.pyc
/build/*
/archive/*
/dist/*
/doc/html/*
/support/*
/tests/~/*
/tests/output/*
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Untitled.ipynb
/doc/html.tar.bz2
/doc/html.zip
/pylintrc
/qalsadi.egg-info/PKG-INFO
/qalsadi.egg-info/SOURCES.txt
/qalsadi.egg-info/dependency_links.txt
/qalsadi.egg-info/requires.txt
/qalsadi.egg-info/top_level.txt
/qalsadi/cache/.qalsadiCache/_indexes/00id.py
/qalsadi/cache/.qalsadiCache/_indexes/01a.py
/qalsadi/cache/.qalsadiCache/a_buck
/qalsadi/cache/.qalsadiCache/a_stor
/qalsadi/cache/.qalsadiCache/id_buck
/qalsadi/cache/.qalsadiCache/id_stor
/qalsadi/stem_noun_old.py
/qalsadi/stem_verb_old.py
/qalsadi/test_analex2.py
/qalsadi/txt
/tests/cache/.qalsadiCache/_indexes/00id.py
/tests/cache/.qalsadiCache/_indexes/01a.py
/tests/cache/.qalsadiCache/a_buck
/tests/cache/.qalsadiCache/a_stor
/tests/cache/.qalsadiCache/id_buck
/tests/cache/.qalsadiCache/id_stor
